.App {
  text-align: center;
}
.header{
  text-align: center;

}
.container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
  flex: 1;
}
.rightdiv{
gap: 50px;
display: flex;
flex-direction: column;
margin-bottom: 50px;
}
.subRight{
  /* border: 1px solid black; */
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.leftdiv{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
h1{
  margin: -5px
}
.pop h2{
  margin: unset;
  font-weight: 400;
}
.pop{
  padding: 15px;
}
.deta{
  background-color: white;
}
.lastdiv{
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 10px;
  
}
.one{
  display: flex;
  gap: 10px;
}

